<%= render "shared/header", value: @q %>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-6">
    <% if @results.empty? %>
      <h2>No results for <strong><%= @q %></strong></h2>
    <% else %>
      <span>About <%= number_with_delimiter(@results.count, delimiter: ".") %> results found</span>
    <% end %>
    <% @results.each do |company| %>
      <div style="margin-bottom: 20px;">
        <h3>
          <%= link_to company.name, company_path(slug: company.slug) %>
        </h3>
        <div>
          <cite>
            <%= company.address %>
          </cite>
        </div>
        <div>
          <% if !company.description.empty? %>
            <%= company.description %>
          <% else %>
            (No description) 
          <% end %>
        </div>
      </div>
    <% end %>
    <%= will_paginate @results, renderer: BootstrapPagination::Rails %>
  </div>
</div>
