<%= render "shared/header", value: "" %>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
    <h4>
      <strong><%= @company.name %></strong>
    </h4>
    <div>
      <div>
        <div class="company-info-name"> Location </div>
        <div class="company-info-value">
          <span><%= @company.address %></span>
        </div>
      </div>
      <div>
        <div class="company-info-name"> City </div>
        <div class="company-info-value">
          <span><%= @company.city %></span>
        </div>
      </div>
      <div>
        <div class="company-info-name"> Category </div>
        <div class="company-info-value">
          <span><%= @company.category %></span>
        </div>
      </div>
      <div>
        <div class="company-info-name"> Description </div>
        <div class="company-info-value">
          <span><%= @company.description %></span>
        </div>
      </div>
    </div>
    <hr/>
    <div>
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?" + 
      "zoom=17&size=800x400&center=#{@company.latitude},#{@company.longitude}&" + 
      "key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map of #{@company.name}", class: "img-responsive" %>
    </div>
  </div>
  <div class="col-md-2">
    <h4>Related companies</h4>
    <ul>
      <% Company.where(category: @company.category).shuffle[0..5].each do |related|%>
        <li><%= link_to related.name, company_path(related.slug) %></li>
      <% end %>
      <li><%= link_to "More...", search_path(q: @company.category) %></li>
    </ul>
  </div>
</div>
